<p style="color: green"><%= notice %></p>

<h1>Rich text tests</h1>

<div id="rich_text_tests">
  <% @rich_text_tests.each do |rich_text_test| %>
    <%= render rich_text_test %>
    <p>
      <%= link_to "Show this rich text test", rich_text_test %>
    </p>
  <% end %>
</div>

<%= link_to "New rich text test", new_rich_text_test_path %>
